@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Khula:wght@300;400;600;700;800&display=swap');



#navbar {
    position: fixed;
}

#category {
    width: 100%;
    display: grid;
    padding-top: 15vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#category #product{
    width: 16vw;
    height: 32vh;
    display: block;
    margin: auto;
    margin-bottom: 3em;
    border-radius: 1em;
    box-shadow: 1px 1px 10px 1px rgb(194, 194, 194);
    padding: 0.5em;
}

#category #product #top {
    display: flex;
    padding: 1em;

}

#category #product #top img{
    width: 20px;

}

#category #product #top #left{
    display: flex;
    gap: 0.5em;
}

#category #product #top #left img{
    width: 18px;
    height: 18px;
    margin-top: auto;
}

#category #product #top #right{
    margin-left: auto;

}

#category #product #imagebox {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: auto;
}

#category #product #imagebox img{
    width: 100%;

}

#category #product #bottom {
    text-align: center;

}
#category #product #bottom h5 {
    font-size: 1.5em;
    text-transform: uppercase;  
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: normal;
    height: 1.2em;
    overflow: hidden;
}
#category #product #bottom h6 {
    font-weight: 100;
    height: 1.5em;
    overflow: hidden;  
    font-family: 'Khula';
    width: 80%;
    margin: auto;
    margin-top: 0px;  
}
#category #product #bottom #price {
    color: red;
    margin-top: 1em;
    font-size: 1.5em;
    font-weight: 1000;
    letter-spacing: 0.05em;
}