@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Bebas Neue */
/* Montserrat */
/* Roboto */
/* Oswald */

#navbar {
    position: relative;
}

#outerformbox{
    height: 90vh;
    background: #77b5f7;
    background: linear-gradient(182deg, rgb(10, 71, 136) 23%, rgb(28, 158, 233) 93%);
    position: absolute;
    width: 100%;
}

#formbox {
        font-family: 'Roboto';
    background-color: rgba(255, 255, 255, 0);
    height: 595px;
    margin-top: 130px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    display: flex;
}


#formbox #right {
    width: 50%;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}

#formbox #right img {
    object-fit: contain;
    width:  110%;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;

    display: block;

}

#formbox #left{
    width: 50%;
    background-color: white;

    height: 100%;
    padding: 1em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;

}



#formbox #left form {
    display: flex;
    flex-direction: column;
}

#formbox #left #back{
    font-size: 2em;
    font-weight: 1000;
    opacity: 0.7;
    margin-bottom: 0px;
}

#formbox #left h1{
    font-size: 7em;
    letter-spacing: 0.1px;
    text-align: center;
    font-family: "Oswald";
    font-weight: 1000;
    font-style: normal;
    color: rgb(32, 32, 32);
    text-transform: uppercase;
    margin-top: 0px;
    padding-top: 0px;

}


#formbox #left form {
    margin-top: 5px;
}

#formbox #left form input {
    border-bottom: 1px solid grey;
    margin: auto;
    padding-left: 0.5em;
    margin-top: 0.5em;
    font-size: 1.2em;
    width: 80%;
    background-color: white;
    font-family: 'Roboto';
    font-weight: 450;
}

#formbox #left form input:focus{
    outline: none;
}

#formbox #left form button {
    background-color: red;
    padding: 0.1em;
    font-size: 1.5em;
    font-weight: 1000;    
    width: 50%;
    font-weight: 1000;
    color: white;
    margin-top: 1.5em;
    border-radius: 0.5em;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-family: 'oswald';
}


#formbox #left #links {
    margin-top: 3em;
}

#formbox #left #links a {
    display: block;
    text-align: right;
    font-size: 1em;
    font-weight: 400;
    color: rgb(48, 48, 48);

}




#formbox #left #social {
    width: 50%;
    display: flex;
    margin: auto;
    /* background-color: red; */
    align-items: center;
    justify-content: center;
    gap: 2em;
    border-top: 1.5px solid rgba(73, 73, 73, 0.74);
    padding-top: 1em;
    margin-top: 2em;
}

#formbox #left #social img {
    width: 32px;
}

