@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


#navbar {
    position: relative;
    top: 0;
    z-index: 99;
}

#sidebar {
    position: fixed;
    top: 0;
}

img{
    width: 100%;
    
}

#outerproduct{
    height: 100vh;

}

#product {
    width: 75vw;
    margin-left: AUTO;
    margin-right: AUTO;
    background-color: white;
    padding: 1em;
    box-shadow: 0px 1px 15px -3px rgba(0, 0, 0, 0.267);
    display: block;
    text-decoration: none;
    border-radius: 1em;
    margin-top: 10%;

}

#product #top{
    display: flex;
    margin-bottom: 2em;
}
#product #top #left{
    width: 75%;
    display: flex;

}

#product #top #right form button{
    border: 0px;
    background-color: red;
    color: white;   
    font-size: 1.7em;
    width: 100%;
    font-weight: 1000;
    border-radius: 0.5em;
    padding: 0.1em;
    margin-top: 2em;
    /* background-color: transparent;    */
}

#product #top #right h1{
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 1000;
    line-height: 1em;
}

#product #top #right h6{
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 1000;
    opacity: 0.7;
}

#product #top #right p {
    font-size: 1.5em;
    height: 4em;
    line-height: 1.3em;
    overflow: hidden;
    opacity: 0.7;
    margin-bottom: 2em;
}

#product #top #right #price {
    font-size: 1.7em;
    font-weight: 1000;
    color: red;


}


#product #top #right form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: auto;
}

#product #top #left img{
    padding: 0.2em;
}
#product #top #right{
    width: 50%;

}


#product #bottom {

}

#product #bottom #description {
    text-decoration: none;
    text-align: center;
}
#product #bottom #description h1 {
    font-size: 1.3em;
    height: 3em;
    overflow: hidden;
    font-weight: 1000;
    text-transform: uppercase;
    color: rgb(24, 24, 24);
  font-family: "Bebas Neue", sans-serif;
}
#product #bottom #description p{
    font-size: 1em;
    color: rgb(87, 87, 87);
    height: 5.5em;
    overflow: hidden;
    margin-top: 1em;
    line-height: 1.3em;
    font-family: 'Osward' , 'sans-serif';
}
#product #bottom #description h2{
    font-family: 'roboto' , 'sans-serif';
    color: red;
    font-weight: 600;
    margin-bottom: 0px;
    letter-spacing: 1px;
    font-weight: 1000;
    font-size: 1.7em;
    margin-top: 1em;
}

#product #bottom #image {
    width: 150px;
    height: 100px;
    overflow: hidden;
      /* box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.247); */
    margin: auto;
}
#product #bottom #image img {
    width: 100%;
    margin: auto;

    object-fit:fill;
}