@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


#navbar {
    position: relative;
    top: 0;
    z-index: 99;
}

#sidebar {
    position: fixed;
    top: 0;
}

img{
    width: 100%;
    
}

#outerproduct{
    height: 100vh;

}

#product-page {
    width: 75vw;
    margin-left: AUTO;
    margin-right: AUTO;
    background-color: white;
    padding: 1em;
    box-shadow: 0px 1px 15px -3px rgba(0, 0, 0, 0.267);
    display: block;
    text-decoration: none;
    border-radius: 1em;
    margin-top: 10%;

}

#product-page #top{
    display: flex;
    margin-bottom: 2em;
}
#product-page #top #left{
    width: 50%;
    display: flex;

}

#product-page #top #left  button {
}
#product-page #top #left  button img {
    width: 25px;
}

#product-page #top #left #images {    
    width:100%;
    display: flex;
    grid-template-rows: 1fr;
    overflow: hidden;
}

#product-page #top #left #images img {
    margin: auto;
    width: 750px;

}




#product-page #top #right {
    width: 50%;
    padding: 2em;
}

#product-page #top #right form button{
    border: 0px;
    background-color: red;
    color: white;   
    font-size: 1.7em;
    width: 100%;
    font-weight: 1000;
    border-radius: 0.5em;
    padding: 0.1em;
    margin-top: 2em;
    /* background-color: transparent;    */
}

#product-page #top #right h1{
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 1000;
    line-height: 1em;
}

#product-page #top #right h6{
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 1000;
    opacity: 0.7;
}

#product-page #top #right p {
    font-size: 1.5em;
    height: 4em;
    line-height: 1.3em;
    overflow: hidden;
    opacity: 0.7;
    margin-bottom: 2em;
}

#product-page #top #right #price {
    font-size: 1.7em;
    font-weight: 1000;
    color: red;


}


#product-page #top #right form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: auto;
}
