@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


#navbar {
    position: relative;
    top: 0;
    z-index: 99;
}

#sidebar {
    position: fixed;
    top: 0;
}

img{
    width: 100%;
    
}

#outerproduct{
    height: 100vh;

}

#product-card{
    width: 16vw;
    height: 32vh;
    display: block;
    margin: auto;
    margin-bottom: 3em;
    border-radius: 1em;
    box-shadow: 1px 1px 10px 1px rgb(194, 194, 194);
    padding: 0.5em;
}

#product-card #top {
    display: flex;
    padding: 1em;

}

#product-card #top img{
    width: 20px;

}

#product-card #top #left{
    display: flex;
    gap: 0.5em;
}

#product-card #top #left img{
    width: 18px;
    height: 18px;
    margin-top: auto;
}

#product-card #top #right{
    margin-left: auto;

}

#product-card #imagebox {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: auto;
}

#product-card #imagebox img{
    width: 100%;

}

#product-card #bottom {
    text-align: center;

}
#product-card #bottom h5 {
    font-size: 1.5em;
    text-transform: uppercase;  
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: normal;
    height: 1.2em;
    overflow: hidden;
}
#product-card #bottom h6 {
    font-weight: 100;
    height: 1.5em;
    overflow: hidden;  
    font-family: 'Khula';
    width: 80%;
    margin: auto;
    margin-top: 0px;  
}
#product-card #bottom #price {
    color: red;
    margin-top: 1em;
    font-size: 1.5em;
    font-weight: 1000;
    letter-spacing: 0.05em;
}